body {
    background-color: rgb(253, 251, 243);
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
}
/*----------- Header & Header Navigation -------------*/
.header {
    display: inline-table;
    background-color: rgba(107, 97, 78, 0.658);
    height: 50px;
    width: 100vw;
    margin-left: 0;
    color: whitesmoke;
    font-size: 14px
}
.header-inner {
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-box {
    display: flex;
}
.header-logo-box h2 {
    white-space: nowrap;
    font-family: "Caveat", cursive;
    font-size: 2em;
    margin-block-start: auto;
    margin-block-end: auto;
}
.header-logo {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 8px;
}
.header-nav ul li a {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    display: block;
    height: 75px;
}
.header-nav ul {
    display: flex;
    list-style: none;
}
.header-nav ul li{
    padding-left: 8px;
    padding-right: 8px;
    display: block;
}
.header-nav ul li:hover {
    background-color: rgba(107, 97, 78, 0.719);
}
.nav-icon {
    width: 40px;
}
.header-nav li a .icon {
    display: block;
    width: 85px;
    height: auto;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 2px;
}


/*-----------------Main Part-------------------*/
.section-grid {
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
}
.grid-1 {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 10px 2em;
}
.grid-2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 2em;
}
.grid-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card {
    background-color: rgba(197, 172, 124, 0.568);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-top: 14px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 18px;
    box-shadow: 0 6px 8px 0 gainsboro;
}
.grid-1 .card {
    min-width: 440px;
}
.grid-2 .grid-inner .card {
    min-width: 220px;
}
.card h3 {
    padding-left: 25px;
}
.inner-card {
    padding-left: 20px;
    padding-right: 20px;
}

/*-- Profile & Basic info--*/
.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    height: auto;
    border-color: whitesmoke;
    box-shadow: -5px -5px 10px 0 rgba(250, 248, 245, 0.658), 5px 5px 10px 0 rgba(88, 74, 46, 0.568);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.profile-card {
    margin-top: 4px;
    margin-bottom: 14px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
.profile-card h1 {
    text-align: center;
    margin-block-start: 0.32em;
    margin-block-end: 0;
}
.location {
    text-align: center;
    margin-block-end: 0.32em;
}
.location span {
    font-weight: 400;
    font-style: italic;
    padding-left: 10px;
}

.SNS {
    display: flex;
    justify-content: flex-end;
}
.SNS i {
    width: 50px;
    color: rgba(107, 97, 78, 0.658);
    font-weight: 500;
}
.SNS i:hover {
    text-shadow: 1px 1px 2px rgba(107, 97, 78, 0.719);
}

/* title line */

.title-line h4 {
    width: 50px;
    color: rgba(107, 97, 78, 0.658);
    font-weight: 300;
    font-size: 1em;
    overflow: hidden;
    padding-left: 12px;
    text-align: center;
    margin-block-start: 0.42em;
    margin-block-end: 0.42em;
}
.title-line h4::after {
    content: " ";
    height: 0.9px;
    width: 75%;
    background: rgba(107, 97, 78, 0.258);
    margin-block-start: 0.62em;
    margin-block-end: 0.62em;
    margin-left: 70px;
    position: absolute;
    vertical-align: middle;
    left: 0.5em;
    margin-left: 60px;

}
.title-line h4::after {
    left: 0.5em;
    margin-left: 60px;
}
.title-line {
    display: inline;
    position: relative;
}

/* Breed box*/
.breed-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.breed-box p {
    padding: 8px;
    background-color: rgba(197, 172, 124, 0.568);
    margin-right: 4px;
    margin-left: 4px;
    text-wrap: nowrap;
    text-align: center;
    margin-block-start: 4px;
    margin-block-end: 4px;
}
.basic-info {
    padding: 3px;
    width: 99%;
    display: inline-flex;
    justify-content: center;
}
.basic-info ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
}
.sub-box {
    display: flex;
}
.sub-box-left ul li {
    display: block;
    text-align: right;
    text-wrap: nowrap;
}
.sub-box-right ul li {
    display: block;
    text-align: left;
    padding-right: 15px;
    text-wrap: nowrap;
}
.keyword {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0.8em;
    padding-right: 0.8em;
}
.keyword p {
    padding: 8px;
    background-color: whitesmoke;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: rgba(197, 172, 124, 0.568);
    text-wrap: nowrap;
    text-align: center;
    margin-block-start: 4px;
    margin-block-end: 4px;
}

/*-- Album section --*/
.album-picture {
    box-shadow: 0 4px 8px 0 rgba(197, 172, 124, 0.568);

}
.album-card {
    box-shadow: 0 4px 8px 0 rgba(197, 172, 124, 0.568);
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    margin-top: 14px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 18px;
    box-shadow: 0 6px 8px 0 gainsboro;
}


@media (max-width: 680px) {
    html, body {min-width: 480px;}
    .section-grid {
        grid-template-columns: 100%;
    }
}