body {
    background-color: rgb(253, 251, 243);
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
}
/*----------- Header & Header Navigation -------------*/
.header {
    display: inline-table;
    background-color: rgba(107, 97, 78, 0.658);
    height: 50px;
    width: 100vw;
    margin-left: 0;
    color: whitesmoke;
    font-size: 14px
}
.header-inner {
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-box {
    display: flex;
}
.header-logo-box h2 {
    white-space: nowrap;
    font-family: "Caveat", cursive;
    font-size: 2em;
    margin-block-start: auto;
    margin-block-end: auto;
}
.header-logo {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 8px;
}
.header-nav {
    
}
.header-nav ul li a {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
    display: block;
    height: 75px;
}
.header-nav ul {
    display: flex;
    list-style: none;
}
.header-nav ul li{
    padding-left: 8px;
    padding-right: 8px;
    display: block;
}
.header-nav ul li:hover {
    background-color: rgba(107, 97, 78, 0.719);
}
.nav-icon {
    width: 40px;
}
.nav-icon-profile {
    width: 40px;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.header-nav li a .icon {
    display: block;
    width: 85px;
    height: auto;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 2px;

}
.nav-icon-profile {
    width: 38px;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
}

/*-----------------Main Part-------------------*/
.section-grid {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 10px 2em;
}
.right-grid {
    display: grid;
    grid-template-rows: 50% 50% 50%;
    gap: 10px 2em;
}
.right-grid-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 2em;
}
.right-grid-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2em;
}

.card {
    background-color: rgba(197, 172, 124, 0.568);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-top: 14px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 18px;
    box-shadow: 0 6px 8px 0 gainsboro;
}


/*-- Profile & Basic info--*/
.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    height: auto;
    border-color: whitesmoke;
    box-shadow: -5px -5px 10px 0 rgba(250, 248, 245, 0.658), 5px 5px 10px 0 rgba(88, 74, 46, 0.568);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.profile-card {
    margin-top: 14px;
    margin-left: 30px;
    margin-right: 15px;
    padding: 14px;
    box-shadow: 0 6px 8px 0 gainsboro;
}
.profile-card h1 {
    text-align: center;
    margin-block-start: 0.32em;
    margin-block-end: 0;
}
.location {
    text-align: center;
    margin-block-end: 0.62em;
}
.location  i::after {
    content: "Grove, OK";
    padding-left: 10px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.title-box h4 {
    color: rgba(107, 97, 78, 0.658);
    margin-block-start: 0;
    margin-block-end: 0.42em;
    padding-left: 0.52em;
    font-weight: 300;
    font-size: 1em;
}
.title-line .title-box::after {
    content: " ";
    height: 0.9px;
    width: 75%;
    background: rgba(107, 97, 78, 0.658);
    margin-block-start: 0.62em;
    margin-block-end: 0.62em;
    margin-left: 70px;
    position: absolute;
}
.title-line {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.title-box {
    display: flex;
    width: 60px;
    height: auto;
    text-align: right;
}
.breed-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.breed-box p {
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(197, 172, 124, 0.568);
    margin-right: 4px;
    margin-left: 4px;
    text-wrap: nowrap;
    text-align: center;
    margin-block-start: 4px;
    margin-block-end: 4px;
}
.basic-info {
    padding: 3px;
    width: 99%;
    display: inline-flex;
    justify-content: center;
}
.basic-info ul {
    list-style: none;
    margin-block-start: 0.52em;
    margin-block-end: 0.52em;
}
.sub-box {
    display: flex;
}
.sub-box-left ul li {
    display: block;
    text-align: right;
    padding-bottom: 5px;
    text-wrap: nowrap;
}
.sub-box-right ul li {
    display: block;
    text-align: left;
    padding-bottom: 5px;
    padding-right: 15px;
    text-wrap: nowrap;
}
.keyword {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.keyword p {
    padding: 8px;
    background-color: whitesmoke;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: solid;
    border-width: 1px;
    border-color: rgba(197, 172, 124, 0.568);
    text-wrap: nowrap;
    text-align: center;
    margin-block-start: 4px;
    margin-block-end: 4px;
}

/*-- Album section --*/
.album-picture {
    box-shadow: 0 4px 8px 0 rgba(197, 172, 124, 0.568);

}
.album-card {
    box-shadow: 0 4px 8px 0 rgba(197, 172, 124, 0.568);
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    margin-top: 14px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 18px;
    box-shadow: 0 6px 8px 0 gainsboro;
}


@media (max-width: 786px) {
    html, body {min-width: 480px;}
    .section-grid {
        grid-template-columns: 100%;
    }
    .right-grid {
        grid-template-columns: 100%;
    }
    .right-grid-top {
        grid-template-columns: 100%;
    }
    .right-grid-bottom {
        grid-template-columns: 100%;
    }
}